

   <button id="homeButton">Hjem</button>
   <button id="imageScoreButton">Billede og score</button>
   <button id="predictButton">Forudse score</button>
   <button id="metricsButton">Metrics</button>
   <script>
        document.getElementById("homeButton").onclick = function(){
            window.location.href = "/"
        };
        document.getElementById("imageScoreButton").onclick = function(){
            window.location.href = "/imageScore"
        };
        document.getElementById("predictButton").onclick = function(){
            window.location.href = "/predict"
        };
        document.getElementById("metricsButton").onclick = function(){
            window.location.href = "/metrics"
        };
   </script>
